/***calendar, from this tutorial http://designmodo.com/calendar-jquery-css3/***/
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: 300px;
    cursor: default; 
    background: $ltblue;
    margin-right: auto;
    margin-left: auto;
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
 
.ui-datepicker-title { text-align: center; }
 
.ui-datepicker-month {
    color: white;
    margin-right: 5px;
}
 
.ui-datepicker-year {
    color: white;
}

.ui-datepicker-prev,
.ui-datepicker-next {
   display: none;
}

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: normal;
    color: $dkblue;
}

.ui-datepicker-calendar td {
    padding: 0 7px;
    text-align: center;
    line-height: 26px;
}
 
.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;
 
    text-decoration: none;
    color: white;
 
    border: 1px solid transparent;
}


.ui-datepicker-calendar .ui-state-active {
    color: white;
    border: 1px solid white;
}
 
.ui-datepicker-other-month .ui-state-default { 
    color: $yellow; 
} 
