/***general***/
.wrapper {
	width: 90%;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
}


/***header***/
.wordmark img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 1rem;
	width: 50%;
	max-width: 280px;
}

.link-menu {
	border-top: 5px solid $orange;
	border-bottom: 5px solid $orange;
}

.welcome-header {
	background-image: url(../assets/welcomebg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.welcome-intro {
	background-color: rgba(255,255,255,0.85);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1rem;
}



/***nav***/
#menu {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9999;
}

.menu-link {
	position: absolute;
	z-index: 9999;
	text-align: center;
    display: block;
    margin: 0 auto;
}

.panel {
    position: fixed;
    left: -8em; /*left or right and the width of your navigation panel*/
    width: 8em; /*should match the above value*/
}

.push {
    position: relative;
}

nav {
	background-color: white;
	border-right: 5px solid $orange;
	li {
		padding-left: 15px;
	}
	li:nth-of-type(4) {
		padding-top: 10px;
	}
}

#home, #events, #search {
	padding-left: 0;
}

#home img, #events img, #search img {
	width: 60px;
	padding: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#home {
	background-color: $ltblue;
}

#events {
	background-color: $yellow;
}

#search {
	background-color: $dkblue;
}


/***main get acquainted content***/
#about-content, .why-content, #how-content, #govt-content, #map-content {
	display: none;
	padding: 1rem;
}

#about-header, #why-header, #how-header, #govt-header, #map-header {
	text-align: center;
	padding: 1rem;
}

#about, #why, #howdoi, #citygovt, #map {
	border-top: 5px solid $orange;
}

#map {
	border-bottom: 5px solid $orange;
}

#billsa, .ticketa, .adopta, #recyclea, .votea {
	display: none;
}

#howdoi {
	p {
		margin-bottom: 1rem;
	}
}

#how-content {
	h4 {
		margin-bottom: 1rem;
	}
}

.why-content li {
	margin-bottom: 1rem;
	color: $dkblue;
}

.govtmember {
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.govtpic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}

.info {
	margin-top: 20px;
}

#mayor {
	background-image: url(../assets/citygovt/mayor.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist1 {
	background-image: url(../assets/citygovt/dist1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist2 {
	background-image: url(../assets/citygovt/dist2.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist3 {
	background-image: url(../assets/citygovt/dist3.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist4 {
	background-image: url(../assets/citygovt/dist4.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist5 {
	background-image: url(../assets/citygovt/dist5.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist6 {
	background-image: url(../assets/citygovt/dist6.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist7 {
	background-image: url(../assets/citygovt/dist7.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist8 {
	background-image: url(../assets/citygovt/dist8.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist9 {
	background-image: url(../assets/citygovt/dist9.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#dist10 {
	background-image: url(../assets/citygovt/dist10.png);
	background-size: cover;
	background-repeat: no-repeat;
}


.parks {
	color: rgb(98,175,68);
}

.museums {
	color: rgb(65,134,240);
}

.libraries {
	color: rgb(219,68,54);
}

.ccenters {
	color: #fff;
	background-color: black;
}

.tacos {
	color: rgb(244,235,55);
}

.venues {
	color: rgb(124,53,146);
}

.parks, .museums, .libraries, .ccenters, .tacos, .venues {
	font-weight: bold;
	font-size: 1.25rem;
}



/***map***/
.map-iframe {
	position: relative;
	padding-bottom: 90%;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}




/***events***/
.events-header {
	background-image: url(../assets/eventsbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.events-intro {
	background-color: rgba(255,255,255,0.85);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1rem;
}

.calendar-container {
	background-color: $ltblue;
	padding: 2rem 0;
}

#sept7, #sept11, #sept20 {
	display: none;
	margin: 2rem auto;
}

/***calendar***/
table {
	margin-right: auto;
	margin-left: auto;
	overflow-x: auto;
	width: 100%;
}

caption {
	margin-bottom: 1rem;
}

td {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.25rem;
	text-align: center;
}

.sept7, .sept11, .sept20 {
	color: lighten($yellow,10%);
	font-weight: bold;
}