/***general***/
.wrapper {
	width: 90%;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
}

/***nav***/
#menu {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9999;
}

.menu-link {
	position: absolute;
	top: 13px;
	left: 25px;
	z-index: 9999;
}

.panel {
    position: fixed;
    left: -8em; /*left or right and the width of your navigation panel*/
    width: 8em; /*should match the above value*/
}

.push {
    position: relative;
}

nav {
	background-color: white;
	border-right: 5px solid $yellow;
	li {
		padding-left: 15px;
	}
	li:nth-of-type(4) {
		padding-top: 10px;
	}
}

#home, #events, #questions {
	padding-left: 0;
}

#home img, #events img, #questions img {
	width: 60px;
	padding: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#home {
	background-color: $ltblue;
}

#events {
	background-color: $green;
}

#questions {
	background-color: $dkblue;
}