/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "jubilat", sans-serif;
  line-height: 1.3;
  color: #d6610b; }

h1 {
  font-size: 2rem;
  font-weight: 400; }

h2, h3, h4, h5, h6 {
  font-weight: 200; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.65rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.3rem; }

h6 {
  font-size: 1.25rem; }

p, a, li {
  font-family: "museo-sans", sans-serif;
  line-height: 1.8;
  font-size: 1.15rem;
  font-weight: 300; }

p {
  color: #333; }

a {
  color: #5092a6;
  font-weight: 500;
  font-style: italic; }

/***general***/
.wrapper {
  width: 90%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto; }

a {
  text-decoration: none; }

/***nav***/
#menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999; }

.menu-link {
  position: absolute;
  top: 13px;
  left: 25px;
  z-index: 9999; }

.panel {
  position: fixed;
  left: -8em;
  /*left or right and the width of your navigation panel*/
  width: 8em;
  /*should match the above value*/ }

.push {
  position: relative; }

nav {
  background-color: white;
  border-right: 5px solid #fdc03c; }
  nav li {
    padding-left: 15px; }
  nav li:nth-of-type(4) {
    padding-top: 10px; }

#home, #events, #questions {
  padding-left: 0; }

#home img, #events img, #questions img {
  width: 60px;
  padding: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto; }

#home {
  background-color: #6fa8ba; }

#events {
  background-color: #274d1c; }

#questions {
  background-color: #004968; }

/***calendar, from this tutorial http://designmodo.com/calendar-jquery-css3/***/
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0; }

.ui-datepicker {
  display: none;
  width: 294px;
  padding: 35px;
  cursor: default;
  text-transform: uppercase;
  font-family: Tahoma;
  font-size: 12px;
  background: #141517;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1), inset 0px 1px 1px black;
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1), inset 0px 1px 1px black;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1), inset 0px 1px 1px black; }

.ui-datepicker-header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6; }

.ui-datepicker-title {
  text-align: center; }

.ui-datepicker-month {
  position: relative;
  padding-right: 15px;
  color: #565656; }

.ui-datepicker-year {
  padding-left: 8px;
  color: #a8a8a8; }

.ui-datepicker-month:before {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  width: 5px;
  height: 5px;
  content: '';
  background: #a5cd4e;
  background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5cd4e), color-stop(100%, #6b8f1a));
  background: -webkit-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  background: -o-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  background: -ms-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  background: linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.ui-datepicker-prev,
.ui-datepicker-next {
  position: absolute;
  top: -2px;
  padding: 5px;
  cursor: pointer; }

.ui-datepicker-prev {
  left: 0;
  padding-left: 0; }

.ui-datepicker-next {
  right: 0;
  padding-right: 0; }

.ui-datepicker-prev span,
.ui-datepicker-next span {
  display: block;
  width: 5px;
  height: 10px;
  text-indent: -9999px;
  background-image: url(../img/arrows.png); }

.ui-datepicker-prev span {
  background-position: 0px 0px; }

.ui-datepicker-next span {
  background-position: -5px 0px; }

.ui-datepicker-prev-hover span {
  background-position: 0px -10px; }

.ui-datepicker-next-hover span {
  background-position: -5px -10px; }

.ui-datepicker-calendar th {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #a8a8a8; }

.ui-datepicker-calendar td {
  padding: 0 7px;
  text-align: center;
  line-height: 26px; }

.ui-datepicker-calendar .ui-state-default {
  display: block;
  width: 26px;
  outline: none;
  text-decoration: none;
  color: #a8a8a8;
  border: 1px solid transparent; }

.ui-datepicker-calendar .ui-state-active {
  color: #6a9113;
  border: 1px solid #6a9113; }

.ui-datepicker-other-month .ui-state-default {
  color: #565656; }

/*# sourceMappingURL=main.css.map */
