/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "jubilat", sans-serif;
  line-height: 1.3;
  color: #d6610b; }

h1 {
  font-size: 2rem;
  font-weight: 400; }

h2, h3, h4, h5, h6 {
  font-weight: 200; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.65rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.3rem; }

h6 {
  font-size: 1.25rem; }

p, a, li {
  font-family: "museo-sans", sans-serif;
  line-height: 1.8;
  font-size: 1.15rem;
  font-weight: 300; }

p {
  color: #333; }

a {
  color: #5092a6;
  font-weight: 500;
  font-style: italic; }

.ui-datepicker {
  text-transform: uppercase;
  font-family: "museo-sans", sans-serif;
  font-size: 1rem; }

/***general***/
.wrapper {
  width: 90%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto; }

a {
  text-decoration: none; }

h1 {
  text-align: center; }

/***header***/
.wordmark img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  width: 50%;
  max-width: 280px; }

.link-menu {
  border-top: 5px solid #d6610b;
  border-bottom: 5px solid #d6610b; }

.welcome-header {
  background-image: url(../assets/welcomebg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.welcome-intro {
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem; }

/***nav***/
#menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999; }

.menu-link {
  position: absolute;
  z-index: 9999;
  text-align: center;
  display: block;
  margin: 0 auto; }

.panel {
  position: fixed;
  left: -8em;
  /*left or right and the width of your navigation panel*/
  width: 8em;
  /*should match the above value*/ }

.push {
  position: relative; }

nav {
  background-color: white;
  border-right: 5px solid #d6610b; }
  nav li {
    padding-left: 15px; }
  nav li:nth-of-type(4) {
    padding-top: 10px; }

#home, #events, #questions {
  padding-left: 0; }

#home img, #events img, #questions img {
  width: 60px;
  padding: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto; }

#home {
  background-color: #6fa8ba; }

#events {
  background-color: #274d1c; }

#questions {
  background-color: #004968; }

/***main get acquainted content***/
#about-content, .why-content, #how-content, #govt-content, #map-content {
  display: none; }

#about-header, #why-header, #how-header, #govt-header, #map-header {
  text-align: center;
  border-bottom: 5px solid #d6610b;
  padding: 1rem; }

#about-header {
  border-top: 5px solid #d6610b; }

#about, #howdoi, #map {
  background-color: #6fa8ba; }

/***map***/
.map-iframe {
  position: relative;
  padding-bottom: 90%;
  height: 0;
  overflow: hidden; }
  .map-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/***events***/
.events-header {
  background-image: url(../assets/eventsbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.events-intro {
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem; }

.calendar-container {
  background-color: #6fa8ba;
  padding: 2rem; }

/***calendar, from this tutorial http://designmodo.com/calendar-jquery-css3/***/
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0; }

.ui-datepicker {
  display: none;
  width: 300px;
  cursor: default;
  background: #6fa8ba;
  margin-right: auto;
  margin-left: auto; }

.ui-datepicker-header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid white; }

.ui-datepicker-title {
  text-align: center; }

.ui-datepicker-month {
  color: white;
  margin-right: 5px; }

.ui-datepicker-year {
  color: white; }

.ui-datepicker-prev,
.ui-datepicker-next {
  display: none; }

.ui-datepicker-calendar th {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #004968; }

.ui-datepicker-calendar td {
  padding: 0 7px;
  text-align: center;
  line-height: 26px; }

.ui-datepicker-calendar .ui-state-default {
  display: block;
  width: 26px;
  outline: none;
  text-decoration: none;
  color: white;
  border: 1px solid transparent; }

.ui-datepicker-calendar .ui-state-active {
  color: white;
  border: 1px solid white; }

.ui-datepicker-other-month .ui-state-default {
  color: #fdc03c; }

/*# sourceMappingURL=main.css.map */
